# Expand window

In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:98% !important; }</style>"))

# Import Libraries

In [4]:
import pandas as pd

# Load train and test data

In [19]:
test_data = pd.read_csv("../../data/test.csv")
print(test_data.shape)
test_data.sample(5)

(109541, 13)

,Loan_ID,Loan_Amount_Requested,Length_Employed,Home_Owner,Annual_Income,Income_Verified,Purpose_Of_Loan,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Gender
87954,10252264,"16,000",9 years,NaN,NaN,not verified,credit_card,8.49,0,19.0,16,57,Male
83703,10248013,"18,000",2 years,NaN,NaN,not verified,debt_consolidation,22.76,0,29.0,24,42,Male
43675,10207985,"3,350",10+ years,Mortgage,140000.0,VERIFIED - income,home_improvement,21.47,4,12.0,24,47,Male
65757,10230067,"10,000",5 years,NaN,75000.0,not verified,debt_consolidation,21.63,1,53.0,9,23,Male
26266,10190576,"10,000",5 years,Mortgage,65000.0,VERIFIED - income,home_improvement,3.71,1,NaN,7,12,Male

In [20]:
train_data = pd.read_csv("../../data/train.csv")
print(train_data.shape)
train_data.sample(5)

(164309, 14)

,Loan_ID,Loan_Amount_Requested,Length_Employed,Home_Owner,Annual_Income,Income_Verified,Purpose_Of_Loan,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Gender,Interest_Rate
138294,10138295,"13,300",10+ years,Mortgage,50000.0,VERIFIED - income,debt_consolidation,18.19,0,NaN,7,14,Male,2
144395,10144396,"10,000",9 years,Rent,NaN,VERIFIED - income source,debt_consolidation,22.08,1,NaN,8,21,Male,2
61956,10061957,"18,000",10+ years,Mortgage,50000.0,VERIFIED - income source,debt_consolidation,24.32,1,6.0,13,25,Male,3
106483,10106484,"20,000",NaN,Mortgage,72000.0,VERIFIED - income,debt_consolidation,15.37,0,22.0,10,24,Male,2
89586,10089587,"20,000",9 years,Mortgage,NaN,VERIFIED - income,debt_consolidation,21.86,0,29.0,12,30,Male,3

# Check for null

In [22]:
test_data.isna().sum()

Loan_ID                        0
Loan_Amount_Requested          0
Length_Employed             4936
Home_Owner                 16711
Annual_Income              16898
Income_Verified                0
Purpose_Of_Loan                0
Debt_To_Income                 0
Inquiries_Last_6Mo             0
Months_Since_Deliquency    58859
Number_Open_Accounts           0
Total_Accounts                 0
Gender                         0
dtype: int64

In [23]:
train_data.isna().sum()

Loan_ID                        0
Loan_Amount_Requested          0
Length_Employed             7371
Home_Owner                 25349
Annual_Income              25102
Income_Verified                0
Purpose_Of_Loan                0
Debt_To_Income                 0
Inquiries_Last_6Mo             0
Months_Since_Deliquency    88379
Number_Open_Accounts           0
Total_Accounts                 0
Gender                         0
Interest_Rate                  0
dtype: int64

In [101]:
def get_percent_missing(data_frame, include_empty = False):
    percent_missing = (data_frame.isnull().sum() / len(data_frame)) * 100 
    percent_missing_df = percent_missing.to_frame("Percent_Missing")
    
    if include_empty:
        return percent_missing_df
    
    return percent_missing_df.loc[percent_missing_df['Percent_Missing'] > 0]

In [105]:
get_percent_missing(train_data)

                         Percent_Missing
Length_Employed                 4.486060
Home_Owner                     15.427639
Annual_Income                  15.277313
Months_Since_Deliquency        53.788289

In [115]:
train_data.apply(lambda col: col, axis = 0)

,Loan_ID,Loan_Amount_Requested,Length_Employed,Home_Owner,Annual_Income,Income_Verified,Purpose_Of_Loan,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Gender,Interest_Rate
0,10000001,"7,000",< 1 year,Rent,68000.0,not verified,car,18.37,0,NaN,9,14,Female,1
1,10000002,"30,000",4 years,Mortgage,NaN,VERIFIED - income,debt_consolidation,14.93,0,17.0,12,24,Female,3
2,10000003,"24,725",7 years,Mortgage,75566.4,VERIFIED - income source,debt_consolidation,15.88,0,NaN,12,16,Male,3
3,10000004,"16,000",< 1 year,NaN,56160.0,VERIFIED - income source,debt_consolidation,14.34,3,NaN,16,22,Male,3
4,10000005,"17,000",8 years,Own,96000.0,VERIFIED - income source,debt_consolidation,22.17,1,NaN,19,30,Female,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164304,10164305,"20,725",10+ years,Rent,NaN,VERIFIED - income source,credit_card,13.56,0,NaN,13,16,Male,2
164305,10164306,"6,000",8 years,Own,NaN,VERIFIED - income source,small_business,9.12,0,36.0,13,30,Male,2
164306,10164307,"20,250",10+ years,Mortgage,NaN,VERIFIED - income,credit_card,18.17,1,NaN,17,30,Male,1
164307,10164308,"10,000",4 years,Rent,NaN,not verified,major_purchase,18.75,1,48.0,16,62,Female,3
164308,10164309,"9,250",10+ years,Rent,NaN,VERIFIED - income,credit_card,19.44,1,NaN,5,9,Female,2